[submodule "src/PostMeteion"]
	path = src/PostMeteion
	url = git@github.com:gamous/PostMeteion.git
[submodule "src/FishNotify"]
	path = src/FishNotify
	url = git@github.com:gamous/FishNotify.git
[submodule "src/SunderingWorld"]
	path = src/SunderingWorld
	url = git@github.com:LittleNightmare/SunderingWorld.git
[submodule "src/PriceInsight"]
	path = src/PriceInsight
	url = git@github.com:gamous/PriceInsight.git
[submodule "src/ItemVendorLocation"]
	path = src/ItemVendorLocation
	url = git@github.com:gamous/ItemVendorLocation.git
[submodule "src/LiteralMapLink"]
	path = src/LiteralMapLink
	url = git@github.com:Asvel/ffxiv-literal-map-link.git
[submodule "src/Browsingway"]
	path = src/Browsingway
	url = git@github.com:gamous/Browsingway.git
